@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import './var.scss';

body{
   font-family: $main-f-fam;
   
}

.list--custom{
   list-style-type: none;
   margin: 20px 0;
   padding: 0;
}
.list-item--custom{
   padding: 25px 0;
}
.text-area--custom{
   min-height: 250px;
   border:1px solid $light-clr200;
   
   }
   .text-area--comment{
      min-height:100px;
   }
.form-control--custom{
   height: 60px;
   border:1px solid $light-clr200;
  
}
.btn{
   svg{
      margin: 0 5px;
   }
}